<div class="about-content-container">
    <div class="main-title about-title">
        <h3>About Me</h3>
        <p>“The only thing that is ultimately real about your journey is the step that you are taking at this moment. That’s all there ever is.” Eckhart Tolle</p>
    </div>
    
    <div class="img-about-container">
        <img src="./assets/img/profilna.jpg" alt="Profile Picture">
    </div>
    <div class="about-content">
        <h2>Ćutunić Matej</h2>
        <h3>Frontend Developer</h3>
        <p> I am self-taught frontend developer. I enrolled Faculty of Electrical Engineering and Computing (FER), but due to personal circumstances I quit.<br>
            In the future my plan is to develop myself as a full-stack devloper, and I would like to find a way to contribute in the fileld of Artifical Inteligence.<br>
            I find Principles of programming crucial, and I am highly motivated to learn new languages or frameworks. Next to AI, i would like to expand my knowledge in 
            SEO and TDD.
            <br><br>
            In every team that I was working, I have found a way to contribute and to bring great value into the team and a project.
            <br><br>
            I am highly motivated to take part in the new team, bring value to company and product, and to get more experience and widen my knowledge in programming.
        </p>
        <div class="about-hire-btn-container">
            <div class="cv-btn-box">
                <a href="https://drive.google.com/file/d/1nGjz3bxAQtEA278sP581DVoPr7nzz-2m/view?usp=sharing" target="_blank"><button class="cv-btn">Download CV</button></a>
            </div>
            <div class="hire-btn-box">
                <button class="hire-btn" onclick="onMenuItemClick('main', 'contact', event)">Hire Me</button>
            </div>
        </div>
    </div>
    <div class="my-journey">
        <h4>My Journey</h4>
        <div class="my-journey-container">
    
            <div class="icon-container">
                <div class="icon-box icon">
                    <i class="fas fa-medal"></i>
                </div>
                <div class="icon-description">
                    <p>6 Months</p>
                    <p>Experience</p>
                </div>
            </div>
    
            <div class="icon-container">
                <div class="icon-box icon">
                    <i class="far fa-object-group"></i>
                </div>
                <div class="icon-description">
                    <p>5 Projects</p>
                    <p>Completed</p>
                </div>
            </div>
    
            <div class="icon-container">
                <div class="icon-box icon">
                    <i class="fas fa-laptop-house"></i>
                </div>
                <div class="icon-description">
                    <p>Freelance</p>
                    <p>Avaliable</p>
                </div>
            </div>
    
            <div class="icon-container">
                <div class="icon-box icon">
                    <i class="fas fa-tools"></i>
                </div>
                <div class="icon-description">
                    <p>Support</p>
                    <p>24/7</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-interests">
        <h4>My Interests</h4>
        <div class="my-interetsts-list-container">
    
            <div class="my-interests-container">
                <div class="my-interest">
                    <i class="fas fa-hiking"></i>
                    <p>Hiking</p>
                </div>
            </div>
    
            <div class="my-interests-container">
                <div class="my-interest">
                    <i class="fas fa-running"></i>
                    <p>Jogging</p>
                </div>
            </div>
    
            <div class="my-interests-container">
                <div class="my-interest">
                    <i class="fas fa-utensils"></i>
                    <p>Cooking</p>
                </div>
            </div>
    
            <div class="my-interests-container">
                <div class="my-interest">
                    <i class="fas fa-suitcase"></i>
                    <p>Traveling</p>
                </div>
            </div>
        </div>
       
    </div>
</div>